@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark, retro, cyberpunk
};
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0B4775;
  --color-base-content: #333F48;
}